<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Switch_Window.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Switch_Window.My.MySettings>
            <setting name="Player_1" serializeAs="String">
                <value>p1</value>
            </setting>
            <setting name="Player_2" serializeAs="String">
                <value>p2</value>
            </setting>
            <setting name="Player_3" serializeAs="String">
                <value>p3</value>
            </setting>
            <setting name="Player_4" serializeAs="String">
                <value>p4</value>
            </setting>
            <setting name="Player_5" serializeAs="String">
                <value>p5</value>
            </setting>
            <setting name="Player_6" serializeAs="String">
                <value>p6</value>
            </setting>
            <setting name="Player_7" serializeAs="String">
                <value>p7</value>
            </setting>
            <setting name="Player_8" serializeAs="String">
                <value>p8</value>
            </setting>
            <setting name="isTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowingMsgBox" serializeAs="String">
                <value>True</value>
            </setting>
        </Switch_Window.My.MySettings>
    </userSettings>
</configuration>